[user]
	name = Jan Groth
	email = asiandub@gmx.de
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
[core]
	editor = vim
[color]
	ui = true
[push]
	default = matching
